---
import FlyingTitle from './FlyingTitle.astro';
---



<div id="hero">
  <FlyingTitle />
</div>

<style>
  #hero {
    min-height: 100vh;
    background-image: url('/src/assets/15933618-0-image-a-17_1562870686303-499093.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
</style>
